.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-width: 32rem;
	height: 33.4rem;
	text-align: center;
	background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.logo {
	width: 15.1rem;
	height: 2.4rem;
	margin-top: 6rem;
	align-self: center;
}

.container {
	width: 90%;
	height: 21.8rem;
	min-width: 28.8rem;
	max-width: 90rem;
	margin-top: 4rem;
	text-align: center;
	align-self: center;
}

.h1 {
	color: var(--just-white);
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
}

.p {
	color: var(--soft-orange);
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin-top: 2.4rem;
}

.a {
	position: absolute;
	left: calc(50% - 115px);
	top: 27rrm;
	display: block;
	margin-top: 3.5rem;
	padding: 1.5rem;
	width: 22.9rem;
	height: 4.8rem;
	background-color: var(--off-white);
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 0.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
	color: var(--warm-black);
}

.span {
	display: inline-block;
	width: 1.3rem;
	height: 0.8rem;
	margin-left: 1rem;
	background-image: url("../../icons/arrowDown.svg");
}
